@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
  font-weight: 400;
}

.site-nav {
  background: #e75325;
}

/*.site-nav > ul > li:hover {*/
/*background: #e75325;*/
/*}*/
.site-nav>ul>li:hover {
  background: #f28f20;
}

.menu-ul-element ul>li>a:hover~.nav__catalog {
  background: #f8b21c;
}

.site-nav li>ul>li>a:hover {
  background: #f8b21c;
}

.site-nav>ul>li>a:hover {
  background: #f9b218;
}

.site-nav>ul>li>ul {
  background: #f28f20;
}

.li-switch-opened {
  background: #f28f20 !important;
}

input.search-form__input {
  border: 1px solid #b43103;
  background: #b43103;
}

.search-form .ui-selectmenu-button {
  visibility: hidden;
  width: 25%;
}

input.search-form__input {
  width: 75%;
}

.nav__catalog {
  background: #e75325;
}

/* .nav__catalog:hover {
  background-color: #F9B330;
} */

.car_select_items,
.cars_select_button .button_text {
  background: #f28f20 !important;
}

.catalog-item__buy,
.product__buy {
  background-color: #e75325;
}

.callback_close {
  background-color: #e75325;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #f3901d !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #edb14f !important;
}

.selection-step__header,
.order-step__header,
.step__header,
.section__header {
  background-color: #f3901d !important;
}

.selecion-step__number,
.order-step__number,
.step__number {
  color: #f3901d !important;
}

.header-fav,
.header-compare,
.user-office,
.reviews__num {
  display: none !important;
}

.menu-ul-element ul:hover~.nav__catalog {
  background: none;

}

.menu-ul-element:hover,
.menu-ul-element:hover>.nav__catalog {
  background-color: #F9B330;
}

.box_back #slide_window.callback2,
.menu-ul li.li-switch-opened,
.catalog-carousel .owl-dot,
.form__button {
  background-color: #e75325;
}

#clear_form_search_auto {
  color: #e75325 !important;
  border: 1px solid #e75325 !important;
  background-color: #fff !important;
}

.box_back #slide_window.callback2,
.menu-ul li.li-switch-opened,
.page-link_prev,
.page-link_next,
.catalog-carousel .owl-prev,
.catalog-carousel .owl-next {
  border: 1px solid #e75325;
  background-color: #e75325;
}

input.search-form__input {
  width: 100%;
}

.search-form .ui-selectmenu-button {
  display: none;
}


.owl-carousel .owl-stage {
  position: relative;
  top: -0.5px;
  margin-bottom: -36px;
}

@media (max-width: 375px) {
  .topbar__phones {
    left: auto;
    right: 10px;
    background: none;
  }
}

@media (max-width: 320px) {
  .topbar__phones .phone a {
    font-size: 10px;
  }
}